@media (min-width: 768px) {
  .container-fluid {
    max-width: 43rem;
  }
  .fa-stack[data-count]:after{
    right:19%;
  }
  .inner-container {
    height: 75vh;
  }
}

@media (max-width: 768px) {
  .fa-stack[data-count]:after{
    right:26%;
  }
}

@media (max-width: 576px) {
  .container-fluid {
    width: 28rem;
  }
  .fa-stack[data-count]:after{
    right:30%;
  }
  .inner-container {
    height: 75vh;
  }

}

html {
  margin: auto;
}

.signout {
  float: left;
}

.pending-btn {
  float: right;
  
}
.fa-stack[data-count]:after{
  position:absolute;
  top:1%;
  content: attr(data-count);
  font-size:70%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  min-width:2em;
  font-weight:bold;
}