@media (min-width: 768px) {
  .main-container {
    max-width: 43rem;
  }
  .nav-contents {
    width: 42rem;
  }
  .inner-container {
    width: 40rem;
    height: 87vh;
  }
  .item-box {
    height: 74vh;
  }
}

/* @media (max-width: 768px) {

} */

@media (max-width: 576px) {
  .main-container {
    width: 28rem;
  }
  .inner-container {
    width: 26rem;
    height: 78vh;
  }
  .item-box {
    width: 24rem;
    height: 65vh;
  }

}

html {
  margin: auto;
}

body {
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c9b98+0,d1d1d1+51,4c9b98+100&0.26+0,0+50,0.26+100 */
background: -moz-linear-gradient(left, rgba(76,155,152,0.26) 0%, rgba(206,208,208,0) 50%, rgba(209,209,209,0.01) 51%, rgba(76,155,152,0.26) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(76,155,152,0.26) 0%,rgba(206,208,208,0) 50%,rgba(209,209,209,0.01) 51%,rgba(76,155,152,0.26) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(76,155,152,0.26) 0%,rgba(206,208,208,0) 50%,rgba(209,209,209,0.01) 51%,rgba(76,155,152,0.26) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424c9b98', endColorstr='#424c9b98',GradientType=1 ); /* IE6-9 */
  background-color: #52658f;
}

nav {
  background: #333A56;
  margin: 0 0 0 0;
  width: 100%;
  overflow: hidden;
}

h6 {
  color: #333A56;
}
.signout {
  float: left;
}

.btn-add-item {
  background-color: #029ba1;
  color: #f0ffff;
}

.btn-add-item:hover {
  background-color: #028489;
  color: #f0ffff;
}

.btn-add-item:active {
  background-color: #359486;
}

.pending-btn {
  float: right;
}

.inner-container {
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(209,209,209,0.34) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(209,209,209,0.34) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(209,209,209,0.34) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#57d1d1d1',GradientType=0 ); /* IE6-9 */
  background-color: #F7F5E6;
}
/* really nice salmon  #e2807e; */
.item-card {
  background-color: #E8E8E8;
  color: white;
}
.item-box {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bf9c9c+0,ffffff+100&0.35+1,0+100 */
  background: -moz-linear-gradient(bottom, rgba(191,156,156,0.35) 0%, rgba(192,157,157,0.35) 1%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom, rgba(191,156,156,0.35) 0%,rgba(192,157,157,0.35) 1%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, rgba(191,156,156,0.35) 0%,rgba(192,157,157,0.35) 1%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59bf9c9c', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  background-color: #ffffff;
}

.fa-stack[data-count]:after{
  position:absolute;
  top:1%;
  right:0%;
  content: attr(data-count);
  font-size:70%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  min-width:2em;
  font-weight:bold;
}